@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>Our Services</h1>
      @foreach (var service in Model)
        {
          <div class="row row-decor">
            <div class="col-sm-8">
              @service.Name
            </div>
            <div class="col-sm-4">
              <a href="/services/@service.Id" class="btn btn-info btn-sm">More Information</a>
            </div>
          </div>
        }
  <div>
    <a href="/services/new" class="btn btn-info btn-sm">Add New Service</a>
  </div>
</div>
