@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <h3>Get Existing Client Information</h3>
      <form action="/select-client" method="post">
        <div class="form-group">
          <label for="stylist-select">Select A Stylist</label>
          <select class="form-control form-control-sm" name="stylist-info-select">
            @foreach (var stylist in Model)
            {
                <option value = "@stylist.GetId()">
                  @stylist.GetName()
                </option>
            }
          </select>
        </div>
        <button class="btn btn-info" type="submit">>>Select Client</button>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <h3>Add A New Client</h3>
      <form action="/clients" method="post">
        <div class="form-group">
          <label for="client-name">Client Name</label>
          <input type="text" class="form-control" id="client-name" name="client-name">
        </div>
        <label for="stylist-assign-select">Select A Stylist</label>
        <select class="form-control form-control-sm" name="stylist-select">
          @foreach (var stylist in Model)
          {
              <option value = "@stylist.GetId()">
                @stylist.GetName()
              </option>
          }
        </select>
        <button class="btn btn-info" type="submit">Add Client</button>
      </form>
    </div>
  </div>
</div>
