@{
  Layout = "_Layout";
}

<div class="well">
  <h3>Get Existing Client Information</h3>
  <form action="/clients/@Model" method="post">
    <div class="form-group">
      <label for="stylistSelect">Select A Client</label>
      <select class="form-control form-control-sm" name="stylistSelect">
        @foreach (var client in Model)
        {
            <option value = "@client.Id">
              @client.Name
            </option>
        }
      </select>
    </div>
    <button class="btn btn-info" type="submit">Show Client Info</button>
  </form>
</div>
