@{
  Layout = "_Layout";
}

<div class='container'>
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3>Get Existing Client Information</h3>
        @foreach (var client in Model)
        {
            <h3>
              <a href="/clients/@client.Id" class="btn btn-success">@client.Name</a>
            </h3>
        }
      </div>
    </div>
    <div class="col-sm-6">
      <a href="/stylists/new" class="btn btn-info">Create New Client</a>
    </div>

    <a href="/">To Home Page</a>
    <br>
    <a href="/stylists">To Stylist Page</a>
  </div>
