@{
  Layout = "_Layout";
}

<div class='container'>
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3>Get Stylist Information</h3>
        <form action="/stylist-info" method="post">
          <label for="stylist-info-select">Select A Stylist</label>
          <select class="form-control form-control-sm" name="stylist-info-select">
            @foreach (var stylist in Model)
            {
                <option value = "@stylist.GetId()">
                  @stylist.GetName()
                </option>
            }
          </select>
          <button class="btn btn-info" type="submit">See Info</button>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <h3>Add A New Stylist</h3>
        <form action="/stylists" method="post">
          <div class="form-group">
            <label for="stylist-name">Stylist Name</label>
            <input type="text" class="form-control" id="stylist-name" name="stylist-name">
          </div>
          <button class="btn btn-info" type="submit">Add Stylist</button>
        </form>
      </div>
    </div>

    <a href="/">To Home Page</a>
    <br>
    <a href="/clients">To Client Page</a>
  </div>
