@{
  Layout = "_Layout";
}

<h1>Details About @Model.GetName()</h1>
<p>Name: @Model.GetName()</p>
<p>Clients: </p>
@foreach (var client in Model.GetClientList())
{
    <li>@client.GetName()</li>
}

<a href="/stylists">Back to Stylist Page</a>
<br>
<a href="/">To Home Page</a>
<br>
<a href="/clients">To Client Page</a>
