@{
  Layout = "_Layout";
}

<div class='container'>
  <h3>Our Stylists</h3>
  <div class="row">
    <div class="col-sm-3">
      <strong>Name</strong>
    </div>
    <div class="col-sm-5">
      <strong>Services</strong>
    </div>
    <div class="col-sm-4">
      <strong>Options</strong>
    </div>
  </div>
  <div class="row">
      @foreach (var stylist in Model)
      {
          <div class="col-sm-3">
            @stylist.Name
          </div>
          <div class="col-sm-5">
            Service List
          </div>
          <div class="col-sm-2">
            <a href="/stylists/@stylist.Id" class="btn btn-info btn-sm">Stylist Info</a>
          </div>
          <div class="col-sm-2">
            <form action="/stylists/@stylist.Id/delete" method="post">
              <button type="submit" class="btn btn-danger btn-sm">Delete Stylist</button>
            </form>
          </div>
      }
  </div>
  <div>
    <a href="/stylists/new" class="btn btn-info btn-sm">Create New Stylist</a>
    <br>
    <form action="/stylists/deleteall" method="post">
      <button type="submit" class="btn btn-danger btn-sm">Delete All Stylists</button>
    </form>
  </div>


</div>
